h1 {
  text-align      : center;
  width  : 100%;
  color      :  rgb(236, 138, 9);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body {
  margin          : 0px;
}

/*//////            Decor container               /////*/
.decorCont {
  height          : 50%;
  width           : 100%;
}
.timer1 {
  width           : 50px;
  height          : 50px;
  background      : #32CD32;
  animation-name  : borderHori, colorChange;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: initial;
  animation-direction: initial; 
  position        : absolute;
}
@keyframes borderHori {
  from {width: 100%;}
  to   {width: 0%;}
}
@keyframes colorChange {
  0% {background-color: lightgreen}
  25% {background-color: darkgreen}
  50% {background-color: darkmagenta}
  75% {background-color: darkred}
  100% {background-color: red}
}
@keyframes colorConfusion {
  0% {background-color: lightgreen}
  25% {background-color: darkgreen}
  50% {background-color: darkmagenta}
  75% {background-color: darkred}
  100% {background-color: red}
}
.timer2 {
  width           : 50px;
  height          : 50px;
  background      : #32CD32;
  animation-name  : borderVert, colorConfusion;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: initial;
  animation-direction: initial; 
  position        : absolute;
}
@keyframes borderVert {
  from {height: 46%;}
  to   {height: 0%;}
}
.timer3 {
  width           : 50px;
  height          : 50px;
  background      : #32CD32;
  animation-name  : borderHori, colorChange, borderVert;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-iteration-count: 2;
  animation-direction: initial; 
  position        : absolute;
}

.tR {
  right           : 0;
  transition      : width 10s;
}
.bR {
  right           : 0;
  bottom          : 40%;
  transition      : height 10s;
}
.bL {
  bottom          : 40%;
  left            : 0;
  transition      : width 10s;
}
.tL {
  left            : 0;
  transition      : height 10s;
}

/*//////            Inner container            /////*/
.innerCont {
  text-align      : center;
  height          : 40% !important;
  padding         : 10% 0;
  font-family     : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.innerCont button {     
  width            : 25%;
  height           : 25%;
  padding          : 2% !important;
  background-color : yellowgreen; 
  color            : rgb(128, 128, 221) !important;
  transition       : transform 2s;
}
.innerCont button:hover {
  transform        : rotate(1080deg) !important;
}

/*//////            Bottom container            /////*/
.calcCont {
  height          : 40%;
  padding         : 0 20% 0 20%;
  margin          : 0;
  background-color: rgb(71, 71, 71);
  bottom          : 0;
  left            : 0;
  right           : 0;
  position        : fixed;
}
button{
  width           : 24%;
  height          : 85%;
  margin          : 0 0 !important;
  padding         : 1.2% 0 1.2% 0;
  color           : white;
  font-size       : 1.5em !important;
  border-radius   : 9% !important;
  border-color    : rgb(0,0,0,0) !important;
  background-color: rgb(94, 94, 94);
}
button:hover {
  border-color    : lightgrey !important;
}
button:active {
  background-color: rgb(36, 6, 6) !important;
}
.display {
  margin-top      : 0 !important;
  width           : 100%;
  height          : 90%;
  font-size       : 2em;
  text-align      : right;
}
.noSpace {
  margin          : 0 -3.7px 0 0 !important;
}

/* ////////////////////// Calc Rows //////////////////////// */
.answer {
  background-color: orange;
  width           : 48.25% ;
}

.rowBtns {
  line-height     : .9 !important;
}
.skip {
  width           : 100% !important;
  background-color: black;
}

.equals {
  background-color: red;
}


/* ////////// Time Round Lives Score //////////////////// */
.hud {
  background-color: black;
  font-size       : 1.5em;
  color           : yellowgreen;
  text-align      : center;
  border          : 1px solid black;
  border-radius   : 10%;
  line-height     : .9;
}
.hud a {
  color           : white !important;
}