h1 {
  text-align      : center;
  height : 10%;
  width  : 100%;
}
body {
  margin          : 0px;
}

/*//////            Decor container               /////*/
.decorCont {
  height          : 50%;
  width           : 100%;
}
widthchange {

}

.timer1 {
  width           : 50px;
  height          : 50px;
  background      : #32CD32;
  animation-name  : borderHori, colorChange;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: initial;
  animation-direction: initial; 
  position        : absolute;
}
@keyframes borderHori {
  from {width: 100%;}
  to   {width: 0%;}
}
@keyframes colorChange {
  0% {background-color: lightgreen}
  25% {background-color: darkgreen}
  50% {background-color: darkmagenta}
  75% {background-color: darkred}
  100% {background-color: red}
}
.timer2 {
  width           : 50px;
  height          : 50px;
  background      : #32CD32;
  animation-name  : borderVert, colorChange;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: initial;
  animation-direction: initial; 
  position        : absolute;
}
@keyframes borderVert {
  from {height: 50%;}
  to   {height: 0%;}
}

.tR {
  right           : 0;
  transition      : width 10s;
}
.bR {
  right           : 0;
  bottom          : 40%;
  transition      : height 10s;
}
.bL {
  bottom          : 40%;
  left            : 0;
  transition      : width 10s;
}
.tL {
  left            : 0;
  transition      : height 10s;
}

/*//////            Inner container            /////*/
.innerCont {
  position        : fixed;
  padding         : 15%; 
  font-family     : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.innerCont button {      /* not working right now */
  width            : 25%;
  padding          : 2% !important;
  margin-left      : 37.5%; 
  background-color : yellowgreen; 
  color            : rgb(128, 128, 221) !important;
  transition       : transform 2s;
}
.innerCont button:hover {
  transform        : rotate(1080deg) !important;
}

/*//////            Bottom container            /////*/
.calcCont {
  height          : 40%;
  padding         : 0 20% 0 20%;
  margin          : 0;
  background-color: rgb(71, 71, 71);
  bottom          : 0;
  left            : 0;
  right           : 0;
  position        : fixed;
}
button{
  width           : 23%;
  margin          : 0 0;
  padding         : 1.2% 0 1.2% 0;
  color           : white;
  font-size       : 2em;
  border-radius   : 5%;
  border-color    : rgb(0,0,0,0) ;
  background-color: rgb(94, 94, 94);
}
button:hover {
  border-color    : lightgrey;
}
button:active {
  background-color: lightgrey;
}
.display {
  margin-top      : 0 !important;
  width           : 100%;
  height          : 50px;
  font-size       : 2em;
  text-align      : right;
}
.noSpace {
  margin          : 0 -3.7px 0 0 !important;
}

/* ////////////////////// ROW 1 //////////////////////// */
.row1Btns {
  padding         : 0 8% .2% 12%;
}

/* ////////////////////// ROW 2 //////////////////////// */
.row2Btns {
  padding         : 0 8% .2% 12%;
} 
/* ////////////////////// ROW 3 //////////////////////// */
.row3Btns {
  padding         : 0 8% .2% 12%;
} 

/* ////////////////////// ROW 4 //////////////////////// */
.row4Btns {
  padding         : 0 8% .2% 12%;
}

/* ////////////////////// ROW 5 //////////////////////// */
.row5Btns {
  padding         : 0 8% .2% 12%;
}
.clearBtn {

}
.equals {
  background-color: orange;
  width           : 46.1% ;
}

/* ////////// Time Round Lives Score //////////////////// */

#round {
  top               : 0;
  left              : 0;
  position          : absolute;
  /*font-size         : 5em;*/
}
#roundTimer {
  top               : 0;
  left              : 5%;
  position          : absolute;
}
#livesLeft {
  top               : 0;
  right             : 5%;
  position          : absolute;
}
#score {
  top               : 0;
  right             : 0;
  position          : absolute;
}